<div id="<%= dom_id employee %>">
  <p>
    <strong><%= t('inPages.Employees.name')%>:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong><%= t('inPages.Employees.email')%>:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong><%= t('inPages.Employees.job')%>:</strong>
    <%= employee.job %>
  </p>

  <p>
    <strong><%= t('inPages.Employees.salary')%>:</strong>
    <%= employee.salary %>
  </p>

  <p>
    <strong><%= t('inPages.Employees.employment status')%>:</strong>
    <%= employee.employment_status %>
  </p>

</div>
