<div class="container">
<h1 class="text-center mt-3" style="color:395B64;">Targets</h1>
 <a href="/" class="mt-5">&#8592; Back to Home</a>



<a href="/targets/new">
<span style="font-size: 48px; color: CadetBlue;" class="d-block mt-3 mb-3">
<i class="fas fa-plus-circle"></i>
</span>
</a>

   <table class="table table-hover">
    <thead class="table-info">
      <tr>
      <th style="background-color:6998AB; color:F5F5F5;">ID</th>
       <th style="background-color:6998AB; color:F5F5F5;">Title</th>
        <th style="background-color:6998AB; color:F5F5F5;">Description</th>
        <th style="background-color:6998AB; color:F5F5F5;">Start Date</th>
        <th style="background-color:6998AB; color:F5F5F5;">Finish Date</th>
        <th style="background-color:6998AB; color:F5F5F5;">Status</th>
        <th style="background-color:6998AB; color:F5F5F5;">Team</th>
        <th style="background-color:6998AB; color:F5F5F5;"></th>
        <th style="background-color:6998AB; color:F5F5F5;"></th>
      </tr>
    </thead>
    <tbody>
     <% @targets.each do |target| %>
      <tr>
        <td># <%=target.id%></td>
        <td><%=target.title%></td>
        <td><%=target.description%></td>
        <td><%=target.start_date.strftime("%Y-%m-%d")%></td>
        <td><%=target.finish_date.strftime("%Y-%m-%d")%></td>
        <td><%=target.status%></td>
        <% if !(target.team_id).nil? %>
        <td> <%=Team.find(target.team_id).name %></td> 
        <%else%><td></td> <%end%>
        <td> <a href="/targets/<%=target.id%>/edit" class="btn" style="background-color:1572A1; color:white;">Edit</a></td>
         <td><a href="/targets/<%=target.id%>" id="destroy" class="btn btn-danger">Delete</a></td>
      </tr>
    <% end %>
    </tbody>
  </table>
 

</div>
