<p style="color: green"><%= notice %></p>

<%= render @target %>

<div>
  <%= link_to t('inPages.Targets.buttons.edit target'), edit_target_path(@target) %> |
  <%= link_to t('inPages.Targets.buttons.back to targets'), targets_path %>

  <%= button_to t('inPages.Targets.buttons.destroy target'), @target, method: :delete %>
</div>
