<div id="<%= dom_id user %>">
  <p>
    <strong> <%= t('inPages.Users.forms.name') %> :</strong>
    <%= user.name %>
  </p>

  <p>
    <strong> <%= t('inPages.Users.forms.email') %> :</strong>
    <%= user.email %>
  </p>

  <p>
    <strong> <%= t('inPages.Users.forms.password') %> :</strong>
    <%= user.password %>
  </p>

</div>
