<p style="color: green"><%= notice %></p>

 <% if @user.pic.attached? %>
  <p>
    <strong>Image:</strong>
    <%= image_tag @user.pic %>
  </p>
<% end %>

<%= render @user %>

<div>
  <%= link_to t('inPages.Users.buttons.edit user'), edit_user_path(@user) %> |
  <%= link_to t('inPages.Users.buttons.back to users'), users_path %>

  <%= button_to t('inPages.Users.buttons.destroy user'), @user, method: :delete %>
</div>
