<div id="<%= dom_id division %>">
  <p>
    <strong> <%= t('pages.Divisions.forms.name')%> :</strong>
    <%= division.name %>
  </p>

  <p>
    <strong> <%= t('gModles.det.description')%> :</strong>
    <%= division.description %>
  </p>

  <p>
    <strong> <%= t('activerecord.models.employee')%> :</strong>
    <%= division.employee_id %>
  </p>

</div>
