
<div class="container">
<h1 class="text-center mt-3" style="color:395B64;">Divisions</h1>
 <a href="/" class="mt-5">&#8592; Back to Home</a>



<a href="/divisions/new">
<span style="font-size: 48px; color: CadetBlue;" class="d-block mt-3 mb-3">
<i class="fas fa-plus-circle"></i>
</span>
</a>

   <table class="table table-hover">
    <thead class="table-info">
      <tr>
       <th style="background-color:6998AB; color:F5F5F5;">ID</th>
        <th style="background-color:6998AB; color:F5F5F5;">Name</th>
        <th style="background-color:6998AB; color:F5F5F5;">Description</th>
        <th style="background-color:6998AB; color:F5F5F5;">Teams</th>
        <th style="background-color:6998AB; color:F5F5F5;">Manager</th>
        <th style="background-color:6998AB; color:F5F5F5;"></th>
        <th style="background-color:6998AB; color:F5F5F5;"></th>
      </tr>
    </thead>
    <tbody>
     <% @divisions.each do |division| %>
      <tr>
        <td># <%=division.id%></td>
        <td><%=division.name%></td>
        <td><%=division.description%></td>
        <td><%= division.teams.collect(&:name).join(',') %></td>

        <td><%=division.employee_id%></td>
        <td><%= link_to 'Edit', edit_division_path(division) , :class => "btn btn-warning"%></td>
        <td><%= link_to 'Destroy', division, :class => "btn btn-danger", :confirm => 'Are you sure?', :method => :delete %></td>


      </tr>
    <% end %>
    </tbody>
  </table>
 

</div>