<p style="color: green"><%= notice %></p>

<%= render @division %>

<div>
  <%= link_to t('inPages.Divisions.buttons.show division'), edit_division_path(@division) %> |
  <%= link_to t('inPages.Divisions.buttons.back to divisions'), divisions_path %>

  <%= button_to t('inPages.Divisions.buttons.destroy division'), @division, method: :delete %>
</div>
