<div class="container">
<h1 class="text-center " style="color:395B64;" > <%= t 'Human Resources System' %> </h1>

<div class="row mt-5">

    <div class="col-4">

        <div class="card text-white  mb-3" style="max-width: 17rem; background-color:24A19C;">
            <a class="card-block stretched-link text-decoration-none text-white" href="/users">
            <% link_to "Users", "/users" %>
            <div class="card-header"> <%= t 'gModles.Users' %> </div>
            <div class="card-body">
              <h5 class="card-title"> <%= t 'gModles.det.description' %> </h5>
              <p class="card-text"> <%= t 'gModles.det.desc_content' %> </p>
            </div>
        </a>
        </div>
          

    </div>

    <div class="col-4">

        <div class="card text-white mb-3" style="max-width: 17rem; background-color:24A19C;">
            <a class="card-block stretched-link text-decoration-none text-white" href="/employees">
            <% link_to "Employees", "/employees" %>
            <div class="card-header"> <%= t 'gModles.Employees' %> </div>
            <div class="card-body">
              <h5 class="card-title"> <%= t 'gModles.det.description' %> </h5>
              <p class="card-text"> <%= t 'gModles.det.desc_content' %> </p>
            </div>
        </a>
          </div>

    </div>

    <div class="col-4">

        <div class="card text-white  mb-3" style="max-width: 17rem; background-color:24A19C;" >
            <a class="card-block stretched-link text-decoration-none text-white" href="/teams">
            <% link_to "Teams", "/teams" %>
            <div class="card-header"> <%= t 'gModles.Teams' %> </div>
            <div class="card-body">
              <h5 class="card-title"> <%= t 'gModles.det.description' %> </h5>
              <p class="card-text"> <%= t 'gModles.det.desc_content' %> </p>
            </div>
        </a>
          </div>

    </div>

    <div class="col-4">

        <div class="card text-white  mb-3" style="max-width: 17rem; background-color:24A19C;">
            <a class="card-block stretched-link text-decoration-none text-white" href="divisions">
            <% link_to "Divisions", "/divisions" %>
            <div class="card-header"> <%= t 'gModles.Divisions' %> </div>
            <div class="card-body">
             <h5 class="card-title"> <%= t 'gModles.det.description' %> </h5>
              <p class="card-text"> <%= t 'gModles.det.desc_content' %> </p>
            </div>
        </a>
          </div>

    </div>

    <div class="col-4">

        <div class="card text-white mb-3" style="max-width: 17rem; background-color:24A19C;">
            <a class="card-block stretched-link text-decoration-none text-white" href="/targets">
            <% link_to "Targets", "/targets" %>
            <div class="card-header"> <%= t 'gModles.Targets' %> </div>
            <div class="card-body">
              <h5 class="card-title"> <%= t 'gModles.det.description' %> </h5>
              <p class="card-text"> <%= t 'gModles.det.desc_content' %> </p>
            </div>
        </a>
          </div>

    </div>

</div>


</div>